{{ partial "header.html" . }}
<body>
    <div id="layout" class="pure-g">
        {{ partial "sidebar.html" . }}

        <div class="content pure-u-1 pure-u-md-3-4">
            <a name="top"></a>
            {{ partial "listtop.html" . }}

          <div class="posts">
              <div class="odd-map">
              <img width="750px" src="/img/odd-map.png">
              <p><a target="_blank" href="http://opendataday.org/map">Нажмите для перехода для глобальную карту фестиваля</a></p>
              </div>
              <h2>Что это?</h2>
         <p>День открытых данных - это международный фестиваль, который собирает вместе it-специалистов, журналистов, дизайнеров
             и всех тех, кто работает с открытыми данными и открытыми технологиями и заинтересован в их развитии и применении. </p>
            <p> Фестиваль проводится каждый год синхронно в разных городах мира.
         </p>
              <p>Международный сайт фестиваля - <a href="http://opendataday.org">opendataday.org</a></p>
              <h2>Когда?</h2>
              <p>21 февраля (суббота). Точное время и место проведения уточняется - следите за новостями!</p>
              <h2>При поддержке</h2>
              <p>В 2015 году мероприятие организуется сообществом <a href="http://opendata.by">Открытые данные Беларуси (opendata.by)</a></p>
              <p>Есть желаение поддержать мероприятие или выступить с докладом? Пишите на igor@opendata.by!</p>
            <h2>Формат</h2>
              <p>В этом году День открытых данных планируется в формате презентаций с дискуссиями и завершится печей-кучей
              - микровыступлениями всех желающих для обмена идеями и опытом.</p>
          </div>
            <h2>Можно ли мне выступить?</h2>
            <p>Конечно! Заполните <a href="/apply">форму</a> и для вашего выступления обязательно найдется место.</p>

        {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "bodyend.html" . }}
</body>
</html>
